{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <a class="nav-link btn btn-primary" href="{{ url_for('lista_producto') }}">Inicio</a>
    <h2>{{ title }}</h2>
    
    <form method="POST"
        action="{% if modo == 'editar' %}{{ url_for('editar_producto', pid=pid) }}{% else %}{{ url_for('formulario_producto') }}{% endif %}">
    {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.nombre.label(class="form-label") }}
            {{ form.nombre(class="form-control") }}
            {% for error in form.nombre.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.cantidad.label(class="form-label") }}
            {{ form.cantidad(class="form-control") }}
            {% for error in form.cantidad.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.talla.label(class="form-label") }}
            {{ form.talla(class="form-control") }}
            {% for error in form.talla.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.color.label(class="form-label") }}
            {{ form.color(class="form-control") }}
            {% for error in form.color.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.precio.label(class="form-label") }}
            {{ form.precio(class="form-control") }}
            {% for error in form.precio.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.stock.label(class="form-label") }}
            {{ form.stock(class="form-control") }}
            {% for error in form.stock.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">
            {{'Guardar los cmabios ' if modo=='editar' else 'Registra Producto' }}

        </button>

        <a href="{{ url_for('lista_producto') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
